*{
    margin: 0px;
    padding: 0px;
   
}

h1{
    text-align: center;
}

section{
    width: 30%;
    background-color: aqua;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}
